
<h1>Welcome <%= @name %>


<form action="/waiting_area" method="post">
	<p>Choose the opponent:</p>	
	<input type="submit" name = "opponent" value="human" />
	<input type="submit" name = "opponent" value="algorithm" />
</form>